
  .subCategory_labels{
    font-size: 27px;
    font-weight: bold;
    color: #011a4d;
    padding: 23px 10px;
  }
  .subCategory_arrows{
    margin: 0;
    font-size: 42px;
    margin-top: 6px;
    font-weight: bold;
    color: #f8bf00;
  }