<ion-header [translucent]="true" >
  <ion-toolbar >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="itos-container"></div>
  <div class="container-main">
    <div *ngFor="let item of manufacturers">
      <div>
        <ion-item color="customflx" class="subCattitleholder" (click)="getProductsMarque(item.id)">
          <div class="item-content-subCattitleholder">
            <ion-label  slot="start" class="subCategory_labels">
              {{item.name}}
            </ion-label>
            <ion-label  slot="end" class="subCategory_arrows">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-label>
          </div>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
