<ion-header [translucent]="true" >
  <ion-toolbar >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="itos-container"></div>
  <div class="container-main container-main-marques ">
    <div >
      <div>
        <ion-item *ngFor="let item of manufacturers" color="customflx" class="subCattitleholder" (click)="getProductsMarque(item.id,item.name)">
          <div class="item-content-subCattitleholder">
            <ion-label  slot="start" class="subCategory_labels">
              {{item.name}}
            </ion-label>
              <ion-icon slot="end" class="subCategory_arrows" name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>