
  .subCategory_labels{
    font-size: 15px;
    font-weight: 400;
    color: #1a3677;
    /* width: calc(100% - 42px); */
    float: left;
    padding: 0px 21px;
    margin: 15px 0px;
  }
  .subCategory_arrows{
    font-size: 23px;
    font-weight: bold;
    color: #f8bf00;
    float: right;
    padding-right: 5px;
    max-height: 40px;
  }
  .subCattitleholder{
    overflow: visible;
    //width: calc( 100% + 10px );
  }
  .item-content-subCattitleholder{
    border-bottom: 1px solid #e9e9e9;
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 50px;
    box-shadow: none;
  }
  .itos-container{
    height:10px;
  }
  .subCattitleholder{
    //height: 40px;
  }
  .container-main-marques{
    margin-top: -9px;
  }