.informations_title{
    margin: 50px 0px;
    text-align: center;
    border-bottom: 1px solid red;
    box-shadow: 0px 0px 3px #0000001c;
    /* width: fit-content; */
    border: 0;
    --border-style: 0;
    /* border-bottom: 1px solid red; */
    color : #031b52;
}
.h3_info_holder{
    font-size: 16px;
    font-weight: 500;
    margin: 11px 5px;
    text-align: right;
    width: 100%;
}
.h5_info_holder{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.568627451);
    margin: 0;
    width: 100%;
}