.informations_title{
    margin: 50px 0px;
    text-align: center;
    border-bottom: 1px solid red;
    box-shadow: 0px 0px 3px #0000001c;
    /* width: fit-content; */
    border: 0;
    --border-style: 0;
    /* border-bottom: 1px solid red; */
    color : #031b52;
}