<ion-header>
  <ion-toolbar>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item class="informations_title">
  <ion-label>Vos informations personnelles</ion-label>
</ion-item>

<ion-item>
  <h5 class="h5_info_holder">Login</h5>
  <h3 class="h3_info_holder">{{login_customer}}</h3>
</ion-item>
<ion-item>
  <h5 class="h5_info_holder">Prénom</h5>
  <h3 class="h3_info_holder">{{firstname}}</h3>
</ion-item>
<ion-item>
  <h5 class="h5_info_holder">Nom</h5>
  <h3 class="h3_info_holder">{{lastname}}</h3>
</ion-item>
<ion-item>
  <h5 class="h5_info_holder">E-mail</h5>
  <h3 class="h3_info_holder">{{email}}</h3>
</ion-item>
</ion-content>
