
.inscrit_container{
    padding: 25px;
}

.inscrit_input{
    --padding-start: 0px !important;
}
.inscrit_container_header h3{
    text-align: center;
    color: #1a3676;
    font-size: 27px;
    font-weight: bold;
}
.inscritBtnContainer{
    padding: 14px;
}
.titre_list_container{
    margin-top: 17px;
}
.inscrit_calender_picker{
    margin-top: 21px;

}
.inscritCheckBox{
    margin-top:15px;
}
.inscritAlert{
    /* width: 100%; */
    display: block;
    background: #f8d7da;
    padding: 5px 0px;
    text-align: center;
    color: #721c24;
    margin-top: 5px;
    font-size: 11px;
}