<ion-header [translucent]="true" >
  <ion-toolbar >
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-col class="cat_img_container">
    <ion-img
      [src]="currentCategoryLogo? currentCategoryLogo : currentSubCategoryLogo"
      class="cat_img_header"
      (click) = 'clicktest(currentCategoryId,1)'
    ></ion-img>
  </ion-col>
  <div *ngFor="let item of subCategory">
    <div>
      <ion-item class="subCattitleholder"(click)="renderSubCategory(item.id,item.imgSrc,currenrCategroryTitle,category_id)">
        <div class="item-content-subCattitleholder">
          <img src={{item.imgSrc}} class="sub_category_img_small" (error)="doSomething(item.imgSrc)" (click)="doSomething()"/>
          <ion-label  slot="start" class="subCategory_labels">
            {{item.name}}
          </ion-label>
          <ion-label  slot="end" class="subCategory_arrows">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-label>
        </div>
      </ion-item>
      
    </div>
  </div>
  <div  class="currentSubCategoryContainer" *ngIf = "currenrSubCategroryTitle;">
    <ion-label class="currentSubCategoryLabel">{{currenrSubCategroryTitle}}</ion-label>
  </div>
  <ion-list>
    <ion-row>
      <ion-col size="6" size-sm *ngFor="let item of categoryProducts">
        <ion-card (click)="renderProduct(item.id)" class="card_cat_product">
            <ion-img src={{item.imgSrc}}></ion-img>
        </ion-card>
        <ion-card-header (click)="renderProduct(item.id)" class="center_text_padding_zero">
          <ion-card-subtitle class="cat_products_title">{{item.name}}</ion-card-subtitle>
          <ion-button Type="large">{{item.price}}</ion-button>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list class="flx_pagination">
    <ul *ngFor="let item of categoryPages">
      <li 
        *ngIf="!item[1].clickable && item[1].type == 'page' " 
        class="li_disabled" >
          {{item[1].page}}
      </li>
      <li 
        *ngIf="item[1].clickable && item[1].type == 'page' " 
        (click)="clicktest(6,item[1].page)">
          {{item[1].page}}
      </li> 
      <li 
        *ngIf="item[1].type == 'next' " 
        (click)="clicktest(6,item[1].page)"
        class="li_arrow"
        >

          >>

      </li>
      <li 
        *ngIf="item[1].type == 'previous' " 
        (click)="clicktest(6,item[1].page)"
        class="li_arrow"
        >

          <<

      </li>
      <li 
        *ngIf="item[1].type == 'spacer' " 
        (click)="clicktest(6,item[1].page)"
        class="li_arrow"
        >

          ...

      </li>
    </ul>
  </ion-list>
</ion-content>
