
<ion-header [translucent]="true" >
  <ion-toolbar >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="currentSubCategoryContainer bg_white">
    <ion-icon name="bag-handle-outline" class="panier_big_icon"></ion-icon>
    <h3 class="panier_bigTitle">Panier</h3>
  </div>
  <ion-content class="panier_products_container">
  <ion-content >
    <ion-card class="products_panier_holder " id="prod_{{item.id}}" *ngFor="let item of panierProducts">
    <ion-row>
      <ion-col class="ion-align-self-start" size="4">
        <div class="padding_15">
          <ion-img
              src={{item.imgSrc}}
              class="itos-home-main-logo panier_product_img"
            ></ion-img>
        </div>
      </ion-col>
      <ion-col class=" name_holder" size="6">
        <ion-card-title size="12" class="panierProductTitle">{{item.name}}</ion-card-title>
        <ion-card-subtitle size="12" class="price_holder">{{item.price_amount}}</ion-card-subtitle>
      </ion-col>
      <ion-col class=" qtty_holder" size="2">
        <p class="panier_qtty_span">{{item.cart_quantity}}</p>
        <ion-icon name="trash-outline" class="panier_qtty_icon panier_delet_prod " (click)="deletFrombasket(item.id)"></ion-icon>

        <!--ion-icon name="remove-outline" class="panier_qtty_icon"></ion-icon-->
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
    <ion-card class="total_panier_holder" style="max-height: 130px;">
      <ion-card-header>
        <ion-card-subtitle class="color_031b52 total_prductnbr_cart">Nombre des produits : {{productCount}}</ion-card-subtitle>
        <ion-card-title class="ion-text-center total_title_cart">{{totalCart}}</ion-card-title>
        <ion-button expand="full" class="cartBtnCheckout" (click)="checkout()">Commander</ion-button>
 
      </ion-card-header>
    </ion-card>
   </ion-content>
</ion-content>
