.panierProductTitle{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.panierProductPrice{
    text-align: right;
    padding-right: 50px;
    color: #f7bf00;
    font-size: 15px;
}
.panierProductDetailsContainer{
    padding: 15px 0px ;
}
.padding_15{
    padding : 15px;
}
.bg_white{
    background: white;
}
.currentSubCategoryContainer h3{
    font-size: 30px;
}
.color_031b52{
    color: #031b52;
}
.cartBtnCheckout{
    margin: 0px 17px;
    background: #f7bf00 !important;
}