

<ion-header [translucent]="true" >
  <ion-toolbar >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="itos-container">
    <ion-img
      src="../../assets/imgs/main_logo.png"
      class="itos-contact-main-logo"
    ></ion-img>
  </div>
  <div class="itos-container-main">
    <p class="about_p">
      <ion-icon name="location" class="contact_icons"></ion-icon>
      <span class="contact_form_span">
        Bouhaha Tunisie
      </span>
    </p>
    <p class="about_p">
      <ion-icon name="mail" class="contact_icons"></ion-icon>
      <span class="contact_form_span">
        support@stebouhaha.com
      </span>
    </p>
    <div class="about_p">
      <ion-icon name="logo-facebook" class="contact_icons"></ion-icon>
      <span class="contact_form_span">
        https://www.facebook.com/Bouhaha
      </span>
    </div>

    <!-- Icontact form -->
    <div class="contact_form_container">
      <ion-input placeholder="Sujet" [(ngModel)]="sujet" ></ion-input>
      <ion-input placeholder="E-mail" [(ngModel)]="email"></ion-input>

      <!-- Textarea that clears the value on edit -->
      <ion-textarea  [(ngModel)]="message" rows="4" placeholder="Message" clearOnEdit="true"></ion-textarea>
      <ion-button 
      clor="ion-color-flx" 
      size="large" 
      class="contact_form_button"
      (click)="sendMail()"
      >
        Ajouter au panier
    </ion-button> </div>
  </div>
</ion-content>
