<ion-header>
  <ion-toolbar>
    <ion-title>addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 
  <h1 class="adrs_h1">List d'adresses</h1>
<ion-list>
  <ion-card *ngFor="let item of addressesData; let index=index;" class="adrs_card">
    <ion-icon name="trash-outline" class="panier_qtty_icon address_delet " (click)="deletAddress(item.id)"></ion-icon>
    <ion-icon name="construct-outline" class="panier_qtty_icon address_update" (click)="editAddress(item.id)"></ion-icon>

    <div class="ads_ion_item">
      <p class="label_name1">Address#{{index+1}} {{item.alias}}</p>
      <p class="label_value1">{{item.address1}}</p>
    </div >
    <div class="ads_ion_item2">
      <p class="label_name"><span class="bold_black">Postcode : </span>{{item.postcode}}</p>
      <p class="label_name"><span class="bold_black">Cité : </span>{{item.city}}</p>
    </div >
    <div class="ads_ion_item">
    </div >

  </ion-card>
  <ion-card>
    <ion-row>
           
               
      <form (ngSubmit)="addadress()">
        <ion-item>
          <ion-label>Alias</ion-label>
          <ion-input type="text" [(ngModel)]="single_adress.alias" ngDefaultControl  name="alias"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Prénom</ion-label>
          <ion-input [(ngModel)]="single_adress.firstname" ngDefaultControl  name="firstname" disabled  value="{{firstname}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Nom</ion-label>
          <ion-input [(ngModel)]="single_adress.lastname" ngDefaultControl  name="lastname" disabled   value="{{lastname}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Adresse</ion-label>
          <ion-input [(ngModel)]="single_adress.address1" ngDefaultControl  name="address1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Code postal</ion-label>
          <ion-input [(ngModel)]="single_adress.postcode" ngDefaultControl  name="postcode"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Ville</ion-label>
          <ion-input [(ngModel)]="single_adress.city" ngDefaultControl  name="city"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Pays</ion-label>
        <ion-list value="biff" [(ngModel)]="single_adress.country"  ngDefaultControl  [ngModelOptions]="{standalone: true}"   >
          <ion-item>
            <ion-select placeholder="Veuillez choisir ">
              <ion-select-option value="208">Tunisie</ion-select-option>
        
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-label>Téléphone</ion-label>
        <ion-input [(ngModel)]="single_adress.phone" ngDefaultControl  name="phone"></ion-input>
      </ion-item>
        <ion-button  expand="full" class="cartBtnCheckout" type="submit" block>Add adresse</ion-button>
      </form>   
    
        <!--ion-button expand="full" class="cartBtnCheckout" (click)="addadress()">Add adresse</ion-button-->
    </ion-row>
    </ion-card>
</ion-list>




</ion-content>
