<ion-header>
  <ion-toolbar>
    <ion-title>addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="adrs_h1">List D'adresses</h1>
<ion-list>
  <ion-card *ngFor="let item of addressesData; let index=index;" class="adrs_card">
    <div class="ads_ion_item">
      <p class="label_name1">Address#{{index+1}}</p>
      <p class="label_value1">{{item.address1}}</p>
    </div >
    <div class="ads_ion_item2">
      <p class="label_name"><span class="bold_black">Postcode : </span>{{item.postcode}}</p>
      <p class="label_name"><span class="bold_black">Cité : </span>{{item.city}}</p>
    </div >
    <div class="ads_ion_item">
    </div >
  </ion-card>
</ion-list>
</ion-content>
