<ion-header [translucent]="true" color="customflx">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-col class="cat_img_container">
      <h1 class="manufacturer_name">{{manufacturer_name}}</h1>
    </ion-col>
    
    <ion-list>
      <ion-row>
        <ion-col size="6" size-sm *ngFor="let item of currentProducts">
          <ion-card (click)="renderProduct(item.id_product)" class="card_cat_product">
              <ion-img src={{item.imgSrc}}></ion-img>
              <ion-card-header  class="center_text_padding_zero">
                <ion-card-subtitle class="cat_products_title">{{item.name}}</ion-card-subtitle>
                <ion-button Type="large">{{item.formatedPrice}}</ion-button>
              </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list class="flx_pagination">
      <ul *ngFor="let item of paginationArray">
        <li 
          (click)="paginationClick(item)">
            {{item}}
        </li> 
      </ul>
    </ion-list>
  </ion-content>