<ion-app>
  <ion-header [translucent]="true" color="customflx">
    <ion-toolbar color="customflx" class="border_0">
      <ion-buttons slot="start" class="color_black">
        <ion-menu-button class="menu_btn_topBar"></ion-menu-button>
      </ion-buttons>
      
      <ion-buttons slot="end" (click)="btnBack()" class="btnBack color_black"> 
        <ion-icon name="chevron-back-outline" class="back_btn_topBar"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <img class="sidebar_img" src="../assets/imgs/main_logo.png">
          <div *ngIf="!IsLoged">
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
            class="menu_sidebar"
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          </div>
        <div *ngIf="IsLoged">
          <ion-menu-toggle
          class="menu_sidebar"
          auto-hide="false"
          *ngFor="let p of appPages1; let i = index"
        >
          <ion-item
            routerDirection="root"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            ></ion-icon>
            <ion-label slot="start">{{ p.title }}</ion-label>
          </ion-item>
          </ion-menu-toggle>
        </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div>
      <ion-router-outlet id="main-content" class="main_containerApp"></ion-router-outlet>
    </div>
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="itos-ion-tab-bar">
        <ion-tab-button tab="home" class="itos-btn" [ngClass]="{'bottom-menu-active':menuactive[1]}" (click)="btnmenu(1)">
          
          <ion-icon class="bottom_menu_icon" name="home"></ion-icon>
          <ion-label>Acceuil</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="marques" class="itos-btn" [ngClass]="{'bottom-menu-active':menuactive[2]}" (click)="btnmenu(2)">
          <ion-img
            
            src="../assets/imgs/bottom-menu-icons/marques.png"
            class="bottom-menu-icon"
          ></ion-img>
          <ion-label>Marques</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="bouhaha" class="itos-btn" [ngClass]="{'bottom-menu-active':menuactive[3]}" (click)="btnmenu(3)">
          <ion-img
            
            src="../assets/imgs/bottom-menu-icons/bouhaha.png"
            class="bottom-menu-icon"
          ></ion-img>
          <ion-label>Bouhaha</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contact" class="itos-btn" [ngClass]="{'bottom-menu-active':menuactive[4]}" (click)="btnmenu(4)">
          <ion-icon class="bottom_menu_icon" name="mail"></ion-icon>
          <ion-label>Contact</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="panier" class="itos-btn" [ngClass]="{'bottom-menu-active':menuactive[5]}" (click)="btnmenu(5)">
          <ion-icon class="bottom_menu_icon" name="bag-handle"></ion-icon>
          <ion-label>Panier</ion-label>
          <ion-badge class="panier-couter">{{counter_panier}}</ion-badge>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
</ion-app>
