<ion-header [translucent]="true" color="danger">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="itos-container">
    <ion-img
      src="../../assets/imgs/main_logo.png"
      class="itos-home-main-logo"
    ></ion-img>
  </div>
  <div class="itos-container-main">
    <p class="about_p">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    
    <p class="about_p">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
  </div>
</ion-content>
