<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion_content_margin">
  <div class="itos-container">
    <ion-card  class="product_first_card">
      <ion-card-content>
        <ion-img
          src={{productImgSrc}}
          class="product_img"
        ></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-card-header >
      <ion-card-title class="product_name_title">{{productName}}</ion-card-title>
      <ion-card-subtitle class="ref_product">Ref :{{productReference}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header class="product_second_header">
      <span class="large">{{productDescription_short}}</span>
    </ion-card-header>
    <ion-card class="product_second_card">
      <ion-card-content>
      <div class="price_qte_container">
        <ion-fab-button class="price_change_btns price_change_btnsLeft" (click)="minusBtnClick()"> 
          <ion-icon name='remove-outline' class="price_change_icons"></ion-icon>
        </ion-fab-button>
        <ion-input placeholder="0" class="price_holder" [(ngModel)]="qtty"></ion-input>
        <ion-fab-button class="price_change_btns price_change_btnsRight" (click)="plusBtnClick()">
          <ion-icon name="add-outline" class="price_change_icons"></ion-icon>
        </ion-fab-button>
        <ion-label class="price_label">
          {{productPrice}} TND
        </ion-label>
      </div>
      <div class="addBtn_holder">
      <ion-button 
        clor="ion-color-flx" 
        size="large" 
        class="btn_add_cart add_to_cart_btn"
        (click)="addTobasket(product_id)"
        >
          Ajouter au panier
      </ion-button>
    </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
