<ion-header>
  <ion-toolbar>
    <ion-title>payment</ion-title>
  </ion-toolbar>
</ion-header>
<div class="currentSubCategoryContainer bg_white">
  <ion-icon name="bag-handle-outline" class="panier_big_icon"></ion-icon>
  
</div>
<h3 class="panier_bigTitle">Méthode de payement</h3>
<ion-content>
<ion-list>
  <ion-radio-group [(ngModel)]="selectedOption">
    <ion-card class="delivery_card"  *ngFor="let item of paymentList">
      <div>
        <ion-radio value={{item.id}} class="delivery_radio"> </ion-radio>
          <ion-item class="delivery_item">
            <ion-label class="delivery_name" *ngIf="item.call_to_action_text">
              {{item.call_to_action_text}}
            </ion-label>
            <ion-label class="delivery_name" *ngIf="!item.call_to_action_text">
              {{item.module_name}}
            </ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ion-radio-group>
</ion-list>
<ion-button class="delivery_btn" (click)="checkout()">continuer</ion-button>
</ion-content>
