<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_container">
    <img class="img_profile" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  <ion-label>
    <h2>{{firstname}}</h2>
    <p>{{mail}}</p>
  </ion-label>
  <ion-list class="profile_options_container">

    <ion-item class="item_profile" (click)="getCustomerInformation()">
      <ion-icon  class="icon_profile" name="person-circle-outline"></ion-icon>
      <ion-label>
        <h2 class="h2_profile">Information<ion-icon name="chevron-forward-outline" class="icon_profile_option"></ion-icon></h2>
      </ion-label>
    </ion-item>

    <ion-item class="item_profile">
      <ion-icon  class="icon_profile" name="location-outline"></ion-icon>
      <ion-label>
        <h2 class="h2_profile">Mes adresses<ion-icon name="chevron-forward-outline" class="icon_profile_option"></ion-icon></h2>
      </ion-label>
    </ion-item>

    <ion-item class="item_profile">
      <ion-icon  class="icon_profile" name="calendar-outline"></ion-icon>
      <ion-label>
        <h2 class="h2_profile">Historique des commandes<ion-icon name="chevron-forward-outline" class="icon_profile_option"></ion-icon></h2>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>
