<ion-header [translucent]="true" >
  <ion-toolbar >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="itos-container">
    <ion-img
      src="../../assets/imgs/main_logo.png"
      class="itos-home-main-logo"
    ></ion-img>
  </div>
  <div class="itos-container-main">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <div class="itos-categories-container">
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md = "4"(click)="clicktest(7,1)">
            <ion-img
              src="../../assets/imgs/categories-icons/cat1.png"
              class="itos-home-categories-logo"
            ></ion-img>
          </ion-col>
          <ion-col size="6" size-md = "4"(click)="clicktest(4,1)">
            <ion-img
              src="../../assets/imgs/categories-icons/cat2.png"
              class="itos-home-categories-logo"
            ></ion-img>
          </ion-col>
          <ion-col size="6" size-md = "4"(click)="clicktest(10,1)">
            <ion-img
              src="../../assets/imgs/categories-icons/cat3.png"
              class="itos-home-categories-logo"
            ></ion-img>
          </ion-col>
          <ion-col size="6" size-md = "4"(click)="clicktest(9,1)">
            <ion-img
              src="../../assets/imgs/categories-icons/cat4.png"
              class="itos-home-categories-logo"
            ></ion-img>
          </ion-col>
          <ion-col size="6" size-md = "4"(click)="clicktest(6,1)">
            <ion-img
              src="../../assets/imgs/categories-icons/cat5.png"
              class="itos-home-categories-logo"
            ></ion-img>
          </ion-col>
          <ion-col size="6" size-md = "4"(click)="clicktest(5,1)">
            <ion-img
              src="../../assets/imgs/categories-icons/cat6.png"
              class="itos-home-categories-logo"
            ></ion-img>
          </ion-col>
          <ion-col size="6" size-md = "4"(click)="clicktest(8,1)">
            <ion-img
              src="../../assets/imgs/categories-icons/cat7.jpg"
              class="itos-home-categories-logo"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
