.itos-container {
  margin: 50px 80px 0px 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toolbar-background {
  background: #ffffff00;
}
.itos-home-main-logo {
  /*width: 211px;*/
  /*height: 170px;*/
}
.toolbar-background {
  background: red;
}
.itos-container-main {
  margin: 0px 30px;
}

.itos-container-main p {
  text-align: center;
  font-size: 19px;
  /* font-weight: 700; */
  color: #1a3676;
}

.p_category_name{
  margin-top: -25px;
    color: white !important;
    font-weight: bold;
}
@media (min-width : 768px){
  .p_category_name{
    margin-top: -40px;
    font-size: 28px !important;
  }
}
@media (min-width : 912px){
  .p_category_name{
    margin-top: -49px;
    font-size: 34px !important;
  }
}


@media (min-width : 540px)and (min-width: 540px){
  .p_category_name{
  margin-top: -40px;
  font-size: 32px !important;
}
}
